* {
	box-sizing: border-box;

}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

body {
    margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	
}



.logo {
	float: left;
	padding: 8px;
	margin-left: 16px;
	margin-top: 8px;
}

.logo a {
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0px;
	text-decoration: none;
}

nav ul{
	float: right;
}

nav ul li {
	display: inline-block;
	float: left;
}

nav ul li:not(:first-child){
	margin-left: 48px;
}

nav ul li:last-child {
		margin-right: 80px;
}

nav ul li a {
	display:inline-block;
	outline: none;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	letter-spacing: 1.2px;
	font-weight: 600;
}

main{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
    padding-right: 33%;
    padding-bottom: 50px;
	padding-left: 80px;
	font-size: 35px;
	background: url(Colosseum.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
}
.Heading{
	font-size: 85px;
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}
.Sub-Heading{
	font-size: 70px;
	text-align: left;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
}
.Text{
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 4%;
    padding-right: 10%;
    padding-bottom: 4%;
	padding-left: 10%;
	font-size: 23px;
	text-align: justify;
	line-height: 1.8;
	word-spacing: 9px;
}

.Bath{
	color: white;
	background: url(Bath.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
    padding-right: 33%;
    padding-bottom: 50px;
	padding-left: 80px;
	font-size: 25px;

}
.Theater{
	color: white;
	background: url(Theater.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
    padding-right: 33%;
    padding-bottom: 50px;
	padding-left: 80px;
	font-size: 25px;

}
.Forest{
	color: white;
	background: url(Forest.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
    padding-right: 33%;
    padding-bottom: 50px;
	padding-left: 80px;
	font-size: 25px;

}
.Armee{
	color: white;
	background: url(Statue.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
    padding-right: 33%;
    padding-bottom: 50px;
	padding-left: 80px;
	font-size: 25px;
}
.Herman{
	color: white;
	background: url(Hermannsdenkmal_statue.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
    padding-right: 33%;
    padding-bottom: 50px;
	padding-left: 80px;
	font-size: 25px;
}
.Fazit{
	color: white;
	background: url(Arc.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
    padding-right: 33%;
    padding-bottom: 50px;
	padding-left: 80px;
	font-size: 25px;
}

.Quellen{
	color: white;
	background: url(Tür2.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	padding-top: 0px;
    padding-right: 0%;
    padding-bottom: 0px;
	padding-left: 0px;
	font-size: 25px;
}

.Impressum{
	color: white;
	background: url(Coloss2.jpg) no-repeat center;
	background-size: cover;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	padding-top: 0px;
    padding-right: 0%;
    padding-bottom: 0px;
	padding-left: 0px;
	font-size: 25px;
}

.Layer{
	background-color: rgba(0, 0, 0, 0.65);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Qhead{
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 50px;
    padding-right: 0%;
    padding-bottom: 0%;
	padding-left: 1%;
	font-size: 25px;
	font-weight: 600;
}

.Qtext{
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 8px;
    padding-right: 0%;
    padding-bottom: 0%;
	padding-left: 3%;
	font-size: 13px;
	line-height: 2.2;
	word-spacing: 9px;
}

.Ihead{
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 5%;
    padding-right: 0%;
    padding-bottom: 0%;
	padding-left: 3%;
	font-size: 28px;
	font-weight: 600;
	text-align: justify;
}

.Isubhead{
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 8px;
    padding-right: 0%;
    padding-bottom: 0%;
	padding-left: 3%;
	font-size: 20px;
	font-weight: 600;
	text-align: justify;
}

.Itext{
	margin: 0;
	padding: 0;
	width: 100%;
	padding-top: 8px;
    padding-right: 5%;
    padding-bottom: 0%;
	padding-left: 3%;
	font-size: 11px;
	line-height: 2;
	word-spacing: 7px;
}

@media (max-width: 1024px){
	main{
		padding-right: 28%;
		font-size: 32px;
		
	}
	.Heading{
		font-size: 60px;
		font-weight: 700;
	}
	.Sub-Heading{
		font-size: 55px;
		font-weight: 600;
	}
	.Text{
		font-size: 22px;
		line-height: 1.7;
		word-spacing: 7px;
	}
	
	.Bath{
		padding-right: 25%;
	
	}
	.Qhead{
		margin: 0;
		padding: 0;
		width: 100%;
		padding-top: 5%;
		padding-right: 0%;
		padding-bottom: 0%;
		padding-left: 5%;
		font-size: 22px;
		font-weight: 600;
		text-align: justify;
	}
	
	.Qtext{
		margin: 0;
		padding: 0;
		width: 100%;
		padding-top: 12px;
		padding-right: 0%;
		padding-bottom: 0%;
		padding-left: 3%;
		font-size: 12px;
		line-height: 2.1;
		word-spacing: 8px;
	}
	.Itext{
		margin: 0;
		padding: 0;
		width: 100%;
		padding-top: 6px;
		padding-right: 5%;
		padding-bottom: 0%;
		padding-left: 3%;
		font-size: 10px;
		line-height: 2;
		word-spacing: 7px;
	}
}

@media (max-width: 790px){
	.logo {
		float: left;
		padding: 8px;
		margin-left: 16px;
		margin-top: 8px;
	}
	
	.logo a {
		text-transform: uppercase;
		font-weight: 650;
		font-size: 12px;
		letter-spacing: 0px;
		text-decoration: none;
	}
	
	nav ul{
		float: right;
	}
	
	nav ul li {
		display: inline-block;
		float: left;
	}
	
	nav ul li:not(:first-child){
		margin-left: 24px;
	}
	
	nav ul li:last-child {
			margin-right: 16px;
	}
	
	nav ul li a {
		color: white;
		display:inline-block;
		outline: none;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 10px;
		letter-spacing: 1.1px;
		font-weight: 600;
	}
	main{
		padding-top: 50px;
		padding-right: 28%;
		padding-left: 5%;
		font-size: 24px;
	}
	.Heading{
		font-size: 50px;
	}
	.Sub-Heading{
		font-size: 45px;
	}
	.Text{
		margin: 0;
		padding: 0;
		width: 100%;
		padding-top: 4%;
		padding-right: 10%;
		padding-bottom: 4%;
		padding-left: 10%;
		font-size: 22px;
		text-align: justify;
		line-height: 1.7;
		word-spacing: 7px;
	}
	
	.Bath{
		padding-top: 50px;
		padding-left: 5%;
		font-size: 22px;
	}
	.Theater{
		padding-top: 50px;
		padding-left: 5%;
		font-size: 22px;
	
	}
	.Forest{
		padding-top: 50px;
		padding-left: 5%;
		font-size: 22px;
	
	}
	.Armee{
		padding-top: 50px;
		padding-left: 5%;
		font-size: 22px;
	}
	.Herman{
		padding-top: 50px;
		padding-left: 5%;
		font-size: 22px;
	}
	.Fazit{
		padding-top: 50px;
		padding-left: 5%;
		font-size: 22px;
	}
	.Qhead{
		margin: 0;
		padding: 0;
		width: 100%;
		padding-top: 4%;
		padding-right: 0%;
		padding-bottom: 0%;
		padding-left: 5%;
		font-size: 18px;
		font-weight: 600;
		text-align: justify;
	}
	
	.Qtext{
		margin: 0;
		padding: 0;
		width: 100%;
		padding-top: 10px;
		padding-right: 0%;
		padding-bottom: 0%;
		padding-left: 3%;
		font-size: 10px;
		line-height: 2.1;
		word-spacing: 7px;
	}
	.Itext{
		margin: 0;
		padding: 0;
		width: 100%;
		padding-top: 4px;
		padding-right: 3%;
		padding-bottom: 0%;
		padding-left: 3%;
		font-size: 8px;
		line-height: 2;
		word-spacing: 7px;
	}
}
